<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375485092973-sjebim0kar1diitqjp4vidv7f6r8h9mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375485092973-sjebim0kar1diitqjp4vidv7f6r8h9mk</string>
	<key>API_KEY</key>
	<string>AIzaSyAy85Afc5ChScUJTK2fwBOS9l97MYLBmQk</string>
	<key>GCM_SENDER_ID</key>
	<string>375485092973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinEStore</string>
	<key>PROJECT_ID</key>
	<string>eshop-df54a</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-df54a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375485092973:ios:93c4bca1e6e7546e95db64</string>
</dict>
</plist>